* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding-left: 20px;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.road-assistance .icon {
    margin-right: 10px;
}

.flex {
    display: flex;
}

#hero-section .text-section{
    width: 45%;
} 

#hero-section .image-section {
    width: 55%;
}

#hero-section, #quote-section {
    padding: 80px 0;
}

#hero-section .image-section {
    background-image:  url(../img/mechanic.png);
    /* background-image: url("../../img/mechanic.png"); */
    background-size: cover;
    background-position: center;
    min-height: 68vh;
}

.text-section h1 {
    font-size: 64px;
}

.orange-btn {
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 30px;
    display: inline-block;
    color: #fff;
    border: none;
}

.time-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.text-section .image-box {
    width: 10%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-section .time-text {
    width: 95%;
}
.time-section img {
    width: 100%;
}

.light-grey {
    color: #939191;
}
/* Quote section styling */

.background-grey {
    background: #E2E6E9;
}


#quote-section ul {
    list-style: none;
}

#quote-section ul li {
    margin-bottom: 20px;
}

#quote-section .left-section h2 {
    margin-bottom: 30px;
    font-size: 58px;
}

#quote-section .left-section .image-box {
    width: 6%;
    margin-right: 10px;
}

#quote-section .left-section .image-box img {
    width: 100%;
}


#quote-section .left-section .text-box {
    width: 50%;
}

#quote-section .left-section .text-box h5 {
    font-size: 24px;
    margin-bottom: 5px;
}

#quote-section .right-form-section h3{
    font-size: 46px;
}
form{
    margin-top: 20px;
}
#quote-section .right-form-section input {
    width: 100%;
    padding: 15px;
    margin-bottom: 3px;
    border: none;
    border-radius: 2px;
}
input:focus{
    border-color: #f66539;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 100, 51, 0.25);
}
.know-more{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.background-white{
    color: #fff;
    padding: 8% 0;
}

.book_appointment{
    width: 49%;
    margin: 0 auto;
}

.book_appointment h2{
    padding-top: 20px;
    margin-bottom: 30px;
    font-size: 50px;
    color: #1E1B1B;
    /* font-weight: 800; */
}

.book_appointment p{
    color: #1E1B1B;
    opacity: 0.6;
}

.taken{
    width: 45%;
    margin: 0 auto;
}

.Quote h4{
    font-size: 23px;
    padding-bottom: 10px;
    color: black;
}

.Quote p{
    color: #1E1B1B;
    opacity: 0.6;
}

.number{
    width: 50px;
    margin-right: 20px;
}

.listed_img{
    width: 50px;
    margin-right: 20px;
}

.line{
    border-left: 2px dotted #FF6433;
    height: 50px;
    margin-left: 5%;
    margin-top: -30px;
    margin-bottom: 20p
}

/* offering section styling */
#offers h4{
    padding-top: 70px;
    text-align: center;
    font-size: 20px;
}
#offers h2{
    width: 60%;
    text-align: center;
    padding-top: 20px;
    margin:  0 auto 40px auto;
    font-size: 48px;
}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}
.box{
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 180px;
    width: 180px;
    text-align: center;
    background-color: #FFFFFF;
    margin-right: 1%;
    margin-bottom: 1%;
    color: black;
}
.box p{
    padding-top: 5px;
}
.box:hover{
    background-color: #FF6433;
    color: white;
    font-weight: bold;
}
.select{
    background-color: #FF6433;
    color: white;
    font-weight: bold;
}
.link{
    margin: auto;
    width: 65%;
    justify-content: flex-end;
    padding-top: 10px;
}
.link a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.link a:hover{
    color: #FF6433;
}
/* ********************* contact style **************************/

#contact-us{
    padding-bottom: 8%;
    padding-top: 10%;
}
.contact-background{
    background-image: url("../img/whitecar.jpg");
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 40vh;
}
.contact-background2{
    background-image: url("../img/car\ charger.jpg");
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 40vh;
}
.contact-box{
    margin-left: 40%;
    background-color: #FF6433;
    height: 40vh;
    width: 30vw;
}
.box-text h4{
    padding-top: 65px;
    text-align: center;
    margin: auto;
    width: 80%;
    font-size: 25px;
    color: white;
}
 .button{
    width: 65%;
    margin: 30px auto 0 auto;
} 
.black-button{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: black;
    border-radius: 8px;
} 
.properties{
    width: 80%;
    margin:auto;
    justify-content: space-between;
}
.ratings{
    margin-top: 5%;
}
.rating-amount{
    font-size: 48px;
    color: #661CE7;
    font-weight: bold;
}
.rating-amount:hover{
    color: #FF6433;
}
.ratings p{
    color: #1E1B1B;
    opacity: 0.7;
}

/* ******styling the brands sections************ */

#brands{
    padding-bottom: 40px;
    background-color: whitesmoke;
}

.branding h2{
    font-size: 44px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}
.brand{
    width: 75%;
}

#review{
    padding-top: 10%;
    padding-bottom: 50px;

}


.review_coment h1{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 60px;
}

.johnathan{
    background: white;
    padding: 40px;
    display: flex;
    width: 80%;
}

.johnathan .jona{
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.johna h5 h6 p{
    font-size: 18px;
    color: black;
    padding-left: 40px;
    padding-top: 40px;
    margin: auto;
}

.smithhy{
    background: white;
    padding: 40px;
    display: flex;
    width: 80%;
    margin-left: 50px;
}

.smitthy .johnson{
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.smith{
    margin-right: 20px;
    padding-left: 30px;
}

.arrow{
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
    gap: 10px;
    cursor: pointer;
    margin-top: 20px;
    
}
.arrow span{
    background-color: white;
    border-radius: 50px;
}
.arrow span:hover{
    color: white;
    background-color: black;
}
/* ****** FAQ *****************/

#FAQ{
    min-height: 60vh;
    padding-bottom: 40px;

}
.faq h1{
    font-size: 48px;
    color: black;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
}
.contents{
    background-color: white;
    display: flex;
    width: 896px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
}

.ques{
    padding: 10px;
    justify-content: space-between;
}

.ques h3{
    font-size: 24px;
    color: black;
    padding-bottom: 15px;
}

.ques p{
    font-size: 18px;
}

.icon{
    padding-bottom: 60px;
}

#working{
    min-height: 70vh;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%;
}

.bgblack{
    background-color: #1E1B1B; 
}

.footermain{
    background-color: black;
    background: #000;
}
.left{
    width: 50%;
}

.left h1{
    font-size: 48px;
    color: white;
    padding-top: 30%;
}

.workicon{
    padding-top: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.right{
    width: 60%;
    padding-top: 13%;
}

.help{
    margin-left: 80px;
    margin-top: 20px;
}

.help h3{
    font-size: 24px;
    color: white;
    padding-top: 10px;
}
.help p{
    font-size: 19px;
    color: white;
    opacity: 60%;
}

.address{
    margin-left: 80px;
    margin-top: 20px;
}
.address h3{
    font-size: 24px;
    color: white;
    padding-top: 10px; 
}
.address p{
    font-size: 19px;
    color: white;
    opacity: 60%;
}

.footermain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}


.right-sec {
    display: flex;
    align-items: center;
}

.right-sec ul {
    list-style: none;
    display: flex;
}

.road-assist {
    display: flex;
    padding-left: 20px;
}

.right-sec ul li {
    margin-right: 20px;
}

.right-sec ul li a {
    text-decoration: none;
    color: white;
}

.right-sec .navigation {
    border-right: 2px solid #ccc;
}

.road-assist .inner-sect p {
    margin-right: 10px;
    color: white;
}

/* *********************services stylying******************* */


#hero .text-section{
    width: 60%;
    background-color: black;
    justify-content: center; 
} 

#hero .image-section {
    width: 40%;
}

#hero, #quote-section {
    padding: 80px 0;
}

#hero .image-section {
    background-image:  url(../img/services1.jpg);
    /* background-image: url("../../img/mechanic.png"); */
    background-size: cover;
    background-position: cover;
    min-height: 68vh;
}

#hero .text-section h1{
    padding-top: 70px;
    padding-left: 30px;
    color: white;
    font-size: 64px;
    margin-top: 30px;
    font-family: sans-serif;
}

#hero .text-section p{
    color: white;
    margin-top: 10
    px;
    font-size: 18px;
    padding: 30px 40px 0 30px;
}

#hero .btn{
    padding-left: 30px;
}

.bglggrey{
    background-color: #F5F5F5;
}

#diagnostics{
    padding-top: 40px;
    height: 80vh;
}
#diagnostics .img-sect{
    background-color: white;
    width: 60%;
}

.img-sect .img{
    /* margin-top: 20%; */
    padding: 50px 30px 20px 40px;
}

.img-sect {
    background-color: white;
    margin-top: 50px;
    margin-right: 60px;
    margin-bottom: 50px;
}
#diagnostics .diagnois{
    width: 40%;
    flex-wrap: wrap;
    margin-top: 50px;

}

.diagnois .box1{
    padding-top: 40px;
    gap: 80px;
    justify-content: center;
} 
.text h1{
    font-size: 48px;
    padding: 20px 30px 20px 40px;
}
.text p{
    font-size: 24px;
    padding: 20px 30px 20px 40px;
}

.diagnois {
    margin-top: 15%;
}

.lin{
    /* margin: auto; */
    width: 65%;
    justify-content: flex-start;
    padding: 20px 30px 50px 40px;
}
.lin a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.lin a:hover{
    color: #FF6433;
}

.hdtxt h5{
    font-size: 48px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
}

.img22{
    gap: 2px;
}
.img1{
    padding-right: 0.5px;
    height: 15vh;
}

.img2{
    padding-left: 25px;
}


#last-section{
    min-height: 60vh;
    margin-bottom: 50px;
}
.img{
    gap: 20px;
}

.text1{
    margin: auto;
}
.text1 h5{
    font-size: 35px;
    padding: 20px 30px 20px 40px;
}
.text1 p{
    font-size: 17px;
    padding: 20px 30px 20px 40px;
}

.btn1{
  padding-left: 30px;
}

#diagnostics .img1234{
    width: 60%;
}

@media only screen and (max-width: 600px) {
    .right-section {
        display: none;
    }

    .flex {
        display: block;
    }

    h1, h2{
        font-size: 40px !important;
    }

    .left h1{
        font-size: 25px;
    }

    #hero-section .text-section{
        width: 100%;
    } 
    
    #hero-section .image-section {
        width: 100%;
    }

    .contents {
        width: 100%;
    }

    .footermain {
        display: block;
    }

    
    .left{
        margin-inline: auto;
    }

    .brand{
        width: 100%;
    }

    #hero {
        width: 100%;
    }

    #hero .image-section{
        width: 100%;
    }
    #hero .text-section{
        width: 100%;
    }


    .img1234{
        width: 100%;
    }

    .text h1{
        padding: 18px;
        font-size: 30px;
        margin-inline: auto;
    }

    .diagnois .box1{
        margin-inline: auto;
    }

    .right-sec{
        display: none;
    }
    .number{
        margin-inline: auto;
        padding-top: 30px;
    }
    .line{
        display: none;
    }
    .contact-background{
        display: none;
    }

    .contact-background2{
        display: none;
    }
    #quote-section .left-section .image-box img {
        margin-inline: auto;
    }

    #diagnostics {
        width: 100%;
    }

   
    
}


@media only screen and (max-width: 900px) {

    h1, h2{
        font-size: 40px;
    }

    .left h1{
        font-size: 35px;
    }

    #hero-section .text-section{
        width: 100%;
    } 
    
    #hero-section .image-section {
        width: 100%;
    }

    .contents {
        width: 100%;
    }


    
    .left{
        margin-inline: auto;
    }

    .brand{
        width: 100%;
    }

    #hero .image-section{
        width: 100%;
    }
    #hero .text-section{
        width: 100%;
    }


    .img1234{
        width: 100%;
    }

    .text h1{
        padding: 18px;
        font-size: 30px;
        margin-inline: auto;
    }

    .diagnois .box1{
        margin-inline: auto;
    }

    .right-sec{
        display: none;
    }
    .number{
        margin-inline: auto;
        padding-top: 30px;
    }
    .line{
        display: none;
    }
    .contact-background{
        display: none;
    }

    .contact-background2{
        display: none;
    }
    #quote-section .left-section .image-box img {
        margin-inline: auto;
    }
}